.header::after {
  background-image: none;
}

.toolbar {
  --background: none;
  --border-color: transparent;
}

.toolbarIconButton {
  --padding-start: 0 !important;
  --padding-end: 0 !important;
  --padding-top: 0 !important;
  --padding-bottom: 0 !important;
}

.toolbarIcon {
  font-size: 36px !important;
}

.toolbarIconDisabled {
  composes: toolbarIcon;

  color: rgba(var(--ion-color-secondary-rgb), 0.4);
}

.row {
  margin: 0 auto;

  width: 95%;

  text-align: center;
}

.avatar {
  margin: 12px auto;
}

.formItem {
  --background: none;

  --border-color: var(--ion-color-medium);
  --highlight-color-focused: var(--ion-color-secondary);

  margin-bottom: 16px;

  border-top: 1px solid var(--ion-color-light);
}
