@import "../../../assets/style/variables.scss";

.pickerIcon {
  vertical-align: middle;

  cursor: pointer;
}

.forgotText {
  font-size: 14px;

  a {
    text-decoration: none;
    color: var(--ion-color-dark);
  }
}

.footerItem {
  border-top: $border-medium;

  a {
    color: var(--ion-color-dark);
  }
}
