.ruler-with-text {
  margin: var(--ion-margin, 16px) 0;

  width: 100%;

  border-bottom: 1px solid var(--ion-color-medium);

  line-height: 0.1em;
  text-align: center;
  font-size: 16px;
  color: var(--ion-color-medium);

  span {
    padding: 0 10px;

    background: var(--ion-background-color, #ffffff);
  }
}
